<connectionStrings>

  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebApp-20190906084513.mdf;Initial Catalog=aspnet-WebApp-20190906084513;Integrated Security=True"
      providerName="System.Data.SqlClient" />

  <add name ="ChinookDb"
       connectionString ="Data Source=.; Initial Catalog=Chinook; Intergrated Security = true" providerName="Syatem.Data.SqlClient"/>
  
</connectionStrings>
